# Compiler files
cache/
out/

# Ignores development broadcast logs
broadcast/

# Ignores Foundry dependencies
lib/

# Ignores Node.js dependencies
node_modules/

# Docs
docs/

# Dotenv file
.env

# SXT Credentials and Session files
sxt_credentials.json
sxt_session.json